
html, body {
    margin-top: 10px;
    height: 100%;
    background-color: rgb(186, 222, 248);
}

.header {
    background-color:rgb(117, 161, 176);
    border-radius: 10% 10% 0% 0%;;
    display: flex;
    flex-direction: row;
    align-items: center;
    font: sans-serif;
    font-weight: bold;
}

.player-turn {
    margin-left: 50px;
    color: white;
}


.game-status {
    display: flex;
    margin-left: 500px;
    color: white;
}

.game-board {
    background-color: rgb(117, 161, 176);
    border-radius: 0% 0% 3% 2%;
    display: grid;
    gap: 10px;
    padding: 10px;
    min-height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
.game-board > div {
    display: flex;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150px;
}
